    /*
    Flaticon icon font: Flaticon
    Creation date: 27/08/2019 08:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cloud-computing:before { content: "\f100"; }
.flaticon-car-insurance:before { content: "\f101"; }
.flaticon-web-programming:before { content: "\f102"; }
.flaticon-factory:before { content: "\f103"; }
.flaticon-wifi-signal:before { content: "\f104"; }
.flaticon-computer-processor:before { content: "\f105"; }
    
    $font-Flaticon-cloud-computing: "\f100";
    $font-Flaticon-car-insurance: "\f101";
    $font-Flaticon-web-programming: "\f102";
    $font-Flaticon-factory: "\f103";
    $font-Flaticon-wifi-signal: "\f104";
    $font-Flaticon-computer-processor: "\f105";